/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
    width: 880px;
    margin: 0 auto;
}

@media (max-width: 800px){
  body {
    width: 800px;
  }
}

@media (max-width: 500px){
  body {
    width: 500px;
  }
}

/* Header */

header {
    display: flex;
}

@media (max-width: 800px){
    header {
      flex-direction: column-reverse;
    }
}

@media (max-width: 500px){
    header {
      width: 100%;
    }
}

header nav {
    display: flex;
    width: 70%;
    margin-top: 35px;
}

@media (max-width: 800px){
    header nav {
      justify-content: flex-start;
      margin-left: 28px;
      margin-top: 45px;
    }
}

@media (max-width: 500px){
    header nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0px;
      margin-top: 10px;
    }
}

header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

@media (max-width:800px){
    header nav a {
      margin-right: 86px; 
    }
}

@media (max-width: 500px){
    header nav a {
      width: 100%;
      margin-right: 0px;
      text-align: center;
      border-top: 1px gray solid;
      border-width: 100%;
      padding: 10px;
      font-size: 16px;
    }
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 0;
}

@media (max-width: 500px){
  header nav a:last-child {
    border-bottom: 1px gray solid;
  }
}

header .logo {
    margin-top: 25px;
}

@media (max-width: 800px){
  header .logo {
    margin: 0 auto;
    margin-left: 310px;
    margin-top: 30px;
  }
}

@media (max-width: 500px){
  header .logo {
    margin-left: 30%; 
  }
}



/* Catchphrase */

.phrase {
    display: flex;
}

@media (max-width: 800px){
    .phrase {
      margin-left: 170px;
    }
}

@media (max-width: 500px){
  .phrase {
      margin-left: 0px;
  }
}

.phrase .phrase-text {
    display: flex;
    flex-direction: column;
    font-size: 77px;
    margin-top: 120px;
    text-align: center;
    padding: 0px 75px;
}

@media (max-width: 800px){
    .phrase .phrase-text{
      margin-top: 60px;
    }
}


.phrase .phrase-text button {
    background: white;
    vertical-align: top;
    margin-top: 6px;
    padding: 8px 44px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

@media (max-width: 800px) {
  .phrase .phrase-text button {
    width: 170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.phrase .phrase-text button:hover {
    background: black;
    color: white;
}

.phrase img {
    display: flex;
    margin-top: 69px;
}

@media (max-width: 800px){
  .phrase img {
    display: none;
  }
}

/* Main Content */

.main-content {
    border-top: 1px solid black;
    margin-top: 76px;
    padding-top: 39px;
  }

  @media (max-width: 800px){
    .main-content {
      margin-left: 25px;
      margin-right:25px;
    }
  }
  
  .main-content .top-content {
    display: flex;
    padding: 0 10px;
  }
  @media (max-width: 500px){
    .main-content .top-content {
      flex-direction: column;
    }
  }
  
  .main-content .top-content .text-content { 
    margin-right: 34px;
  }
  
  .main-content .top-content .text-content:last-child {
    margin-right: 0;
  }

  @media (max-width: 500px){
    .main-content .top-content .text-content:last-child {
      margin-top: 50px;
    }
  }
  
  .main-content .middle-img {
    margin-top: 45px;
  }

  @media (max-width: 800px){
    .main-content .middle-img {
      width: 750px;
      margin: 0 auto;
      margin-top: 45px;
    }
  }

  @media (max-width: 500px){
    .main-content .middle-img {
      width: 98%;
    }
  }
  
  .main-content .bottom-content {
    display: flex;
    margin-top: 37px;
    padding: 0 10px;
  }

  @media (max-width: 500px){
    .main-content .bottom-content {
      flex-direction: column;
    }
  }
  
  .main-content .bottom-content .text-content {
    width: 275px;
    margin-right: 12px;
  }

  @media (max-width: 500px){
    .main-content .bottom-content .text-content {
      width: 95%;
    }
  }
  
  .main-content .bottom-content .text-content:last-child {
    margin-right: 0;
  }

  @media (max-width: 500px){
    .main-content .bottom-content .text-content:last-child {
      margin-top: 40px;
    }
  }

  @media (max-width: 500px){
    .main-content .bottom-content .text-content:first-child {
      margin-bottom: 40px;
    }
  }
/* Footer */

.contact {
    margin-top: 57px;
    border-top: 1px solid black;
    padding: 39px 10px 0;
  }

  @media (max-width: 800px){
    .contact {
      margin-left:25px;
      margin-right: 25px;
    }
  }
  
  .contact p {
    margin: 20px 0;
  }
  
  footer {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
  }